.card{
    width: 290px;
    box-shadow: 16px 27px 17px 17px #777777;
    border-radius: 30px;   
    background-color: rgb(249, 241, 241);
}

.cardName{
    padding:0;
    font-size: 24px;
    margin-bottom:10px;
    margin-top:0;
}

.cardInfo{
    text-align: center;
}